body {
    margin: 0;
    padding: 0;
    background-color: #aaf;
    height: 100vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5vh;
    height: 90vh;
}

svg {
    flex-shrink: 1;
    display: block;
}

#frequency_knob {
    cursor: grab;
}
#frequency_knob:active {
    cursor: grabbing;
}
.fill-box {
  transform-box: fill-box;
}