@font-face {
    font-family: "Tiny5-LCD";
    src: url("./fonts/Tiny5-LCDRegular.woff2");
}
@font-face {
    font-family: "Tiny5-LCD-bold";
    src: url("./fonts/Tiny5-LCDBold.woff2");
}
@font-face {
    font-family: "Freestyle Script";
    src: url("./fonts/Freestyle\ Script.woff2");
}
@font-face {
    font-family: "Tw Cen MT Condensed";
    src: url("./fonts/Tw\ Cen\ MT\ Condensed\ Regular.woff2");
}

body {
    margin: 0;
    padding: 0;
    background-color: #aaf;
    height: 100vh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5vh;
    height: 90vh;
}

svg {
    flex-shrink: 1;
    display: block;
}

#frequency_knob {
    cursor: grab;
}
#frequency_knob:active {
    cursor: grabbing;
}
.fill-box {
  transform-box: fill-box;
}